 {% extends "shop/base4.html" %} 
 
 
 {% block contentx %}

 <!-- Action Bar -->
 <div class="action-bar is-centered" style="margin-left: 0px !important;width:100%">
        <div class="steps-wrapper">
            <ol class="step-list">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
            </ol>
        </div>
    </div>

  <!-- Main section -->
            <div class="section">
                <!-- Container -->
                <div class="container">
        
                    <!-- Checkout step 4 -->
                    <div class="columns account-header">
                        <div class="column is-10 is-offset-1 checkout-wrapper is-tablet-landscape-padded">
                            <!-- Title -->
                            <div id="payment-header" class="checkout-title is-centered animated preFadeInUp fadeInUp">
                                <h2>PAYMENT </h2>
                                <img class="brand-filigrane is-centered" src="/static/shop/assets/images/logo/nephos-greyscale.svg" alt="">
                            </div>
                           
                            
                               
                                <!-- Cash section -->
                            <div id="cash" class=" animated preFadeInUp fadeInUp">
                                    <!-- Title -->
                                    <div class="checkout-title">
                                        <h2>CASH</h2>
                                        <h3>ORDER-485359</h3>
                                    </div>
                                    <!-- Order -->
                                    <div class="flat-card is-auto is-checkout-form">
                                        <div class="columns is-gapless is-vcentered">
                                            <!-- Order Total -->
                                            <div class="column is-6 has-text-centered grey-column is-padded">
                                                <div class="payment-wrapper">
                                                    <div class="subtotal">
                                                        <span class="partial-value">706,48</span>
                                                        <span class="plus-operator">+</span>
                                                        <span class="vat-value">145,00 (VAT)</span>
                                                        <span class="equal-operator">=</span>
                                                    </div>
                                                    <div class="total">
                                                        <span id="cash_amount">1000</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Confirm Cash Payment -->
                                            <div class="column is-6 is-padded">
                                               <div class="demo-container">
                                                    <!-- Credit Card -->
                                                   
                                                    <div class="form-container active">
                                                        <!-- Form -->
                                                        <form>
                                                            <div class="columns is-multiline is-gapless">
                                                                <div class="column is-6">
                                                                    <!-- Form control -->
                                                                    <div class="control has-margin">
                                                                        <input class="input" placeholder="Last Name" type="text" id="lname4" name="lname">
                                                                    </div>
                                                                    <!-- Form control -->
                                                                    <div class="control has-margin">
                                                                        <input class="input" placeholder="First Name" type="text" id="fname4" name="fname">
                                                                    </div>
                                                                </div>
                                                                <div class="column is-6">
                                                                    <!-- Form control -->
                                                                    <div class="control has-margin">
                                                                        <input class="input" placeholder="Email" type="email" id="email4" name="email">
                                                                    </div>
                                                                    <!-- Form control -->
                                                                    <div class="control has-margin">
                                                                        <input class="input" placeholder="Mobile Number" type="tel" id="phone4" name="phone">
                                                                    </div>
                                                                </div>
                                                                <div class="column is-12 has-text-right">
                                                                    <!-- use Submit input in production -->
                                                                    <!--input type="submit" value="Checkout" class="button feather-button is-small secondary-button upper-button raised ml-5 mr-5"-->
                                                                    <a href="javascript:payWithRave()" class="button feather-button is-small secondary-button upper-button raised ml-5 mr-5">Checkout</a> 
                                                                    {% comment %} <a href="https://ravesandbox.flutterwave.com/pay/ygjr7kvvqi0e" class="button feather-button is-small secondary-button upper-button raised ml-5 mr-5">Checkout</a> {% endcomment %}
    
                                                                    
                                                                </div>
                                                            </div>
            
                                                        </form>
                                                        <!-- /Form -->
                                                    </div>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Back to Payment Methods -->
                                    <div class="button-wrapper has-text-right">
                                        <a href={% url 'shop:checkout3' %} class="button feather-button is-small primary-button upper-button raised ">
                                            <span>Go back</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- /Cash section -->
                              
                            
        
                           
        
                           
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </div>
            <!-- /Main section -->



<script type="text/javascript">  

console.log(document.getElementById('cash_amount').innerText);



    function payWithRave() {
        var x = getpaidSetup({
            PBFPubKey: "FLWPUBK-4e734ea929fdf67fbe0c904c9ff3952e-X", //live
            //PBFPubKey: "FLWPUBK_TEST-526b1caccc8906735fa706cff804af9d-X", //test
            customer_email: document.getElementById('email4').value,
            amount: document.getElementById('cash_amount').innerText,
            customer_phone: document.getElementById('phone4').value,
            customer_firstname: document.getElementById('fname4').value,
            customer_lastname: document.getElementById('lname4').value,
            currency: "UGX",
            txref: "FDKHGK" + Math.random(),
            meta: [{
                metaname: "MujaMall",
                metavalue: "MujaMall"
            }],
            onclose: function () {},
            callback: function (response) {
                var txref = response.tx.txRef; // collect txRef returned and pass to a server page to complete status check.
                console.log("This is the response returned after a charge", response);
                if (
                    response.tx.chargeResponseCode == "00" ||
                    response.tx.chargeResponseCode == "0"
                ) {
                    // redirect to a success page
                } else {
                    // redirect to a failure page.
                }

                x.close(); // use this to close the modal immediately after payment.
            }
        });
    }

</script>



{% endblock contentx %}




