<form action={% url 'shop:addproduct' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add Product</h2>
    Name    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name"><br><br>
    {% comment %} Category &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="category"><br><br> {% endcomment %}

      Category &nbsp;&nbsp;&nbsp;&nbsp;
       <select  name='category'>
        {% for car in categories.each %}
            <option value='{{ car.val.name }}'>{{ car.val.name }}</option>
        {% endfor %}
    </select>
    <br><br>
    Model&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="model"><br><br>

    Descr.&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="description"><br><br>
    Price&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="price"><br><br>

    
    <input type="file" name="pic" id="pic" accept="image/*"><br><br>
    
    <input type="submit" value="add">

    


</form>